language: node_js
node_js:
  - 6
cache:
  directories:
    - node_modules
branches:
  only:
  - master
  - dev
script:
  - yarn test -- --coverage
  - yarn build
after_script:
- COVERALLS_REPO_TOKEN=$coveralls_repo_token npm run coveralls
before_install:
  - openssl aes-256-cbc -K $encrypted_676d08e4b544_key -iv $encrypted_676d08e4b544_iv -in id_rsa.enc -out ~/.ssh/id_rsa -d
  - echo -e "Host ilarinieminen.me\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
deploy:
  - provider: script
    script: /bin/bash deploy_integration.sh
    on:
      branch: dev
  - provider: script
    script: /bin/bash deploy_production.sh
    on:
      branch: master