@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


/* This is to accomondate responsive drawer (that is docked when on desktop, hidden otherwise) */
@media screen and (min-width: 768px) {
  .dashboard {
    padding-left: 201px;
  }
}

#root {
  width: 100%;
}

/* This will remove the stupid chrome yellow autofill */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}


