body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: '#333'
}

p {
  font-family: 'Roboto', sans-serif;
}

small {
  color: #9e9e9e;
}


/* This is to accomondate responsive drawer (that is docked when on desktop, hidden otherwise) */
@media screen and (min-width: 768px) {
  .dashboard {
    padding-left: 250px;
  }
}

#root {
  width: 100%;
}

/* This will remove the stupid chrome yellow autofill */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -moz-box-shadow: 0 0 0 30px white inset;
  box-shadow: 0 0 0 30px white inset;
}


/* icon spinnerz */
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}
/* Removes padding from MUI dialog */
.kolhoosidialog > div > div > div > div {
  padding: 0 !important;
}

/* Removes number input arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}